body {
  width: 80%;
  margin: auto;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

svg circle {
  stroke: black;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: 10%;
  height: 8%;
  padding: 5px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/* Pagination */
.pagination {
  overflow: auto;
  width: 200px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination .disabled {
  color: #DDDDDD;
  pointer-events: none
}